.container {
  width: 100% !important;
  margin: 0;
  padding: 0 !important;
  .container-inner {
    &.inner-default {
      width: 1200px;
      margin: 20px auto;
    }
    &.inner-sm {
      width: 800px;
      margin: 40px auto;
    }
  }
}

.center{
  text-align:center;
  width: 80%;  
  border-bottom: 2px solid #DCDCDC;  
  margin: 0 auto;
  background-color:white;
  color:#333333;
}

.font-size{
  font-size:28px;
}

.image_size{
  width:28px;
  height:28px;
}

